pandas==1.0.5
numpy==1.18.5
flask==1.1.2
scikit-image==0.16.2
https://download.pytorch.org/whl/cpu/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
fastai==1.0.61
pickle
gunicorn
