  
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Demo: Jewellery Classification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>
<style>
body,h1 {font-family: "Raleway", sans-serif; color:black; font-weight: bold; }
body, html {height: 100% }
form{ color:white;}
</style>
<body style="background-image: url('https://i.imgur.com/uk4KDKi.png'); background-size: cover">
 <div class="login" style="padding-left:80px; padding-top:100px">
  <h1>Demo: Jewellery Classification</h1>
   <h3>By: Andrea Kang | 1000ml</h3>
    <div style="padding-top:50px">
    <form action="{{ url_for('predict')}}"method="post" enctype=multipart/form-data>

    <label >Pick image</label>
    <input type=file name=file accept="image/*" onchange="previewImage(event)">
 
    </div>
    <br>
   <br>
    <div style="padding-left:80px">
    <button type="submit" class="btn btn-primary btn-block btn-large">Predict Jewellery Type</button>
    </div>

    </form>

		<div style="padding-left:80px">
			<img style="height:100px;width:100px;display:none" id="your-image"/>
		</div>

		<script>
			var previewImage = function(event) {
				var preview = document.getElementById('your-image');
				preview.src = URL.createObjectURL(event.target.files[0]);
				preview.style.display = "block";
			};
		</script>   
   
   <br>
   <br>
   {{ prediction_text }}
   {{ prediction }}

 </div>


</body>
</html>
